<div class="text-white sidebar-inner col" style="justify-content: space-between; align-items: center; height: 100%;" id="page-top">
	<!-- MASTHEAD -->
	<div>
		<a href="/" class="home" title="HOME">
			<h2 style="padding: 16px;">NEIL <br class="desktop">CLARKE</h2>
		</a>
		<p style="padding: 0px 16px;" class="description">Software Engineer</p>

		<!-- star logo -->
		<div class="desktop">
			<div class="divider-custom divider-light">
				<div class="divider-custom-line"></div>
				<span class="lavender">
					<div class="diamond"></div>
				</span>
				<div class="divider-custom-line"></div>
			</div>
		</div>
	</div>

	<!-- TOGGLE NAVBAR ELEMENTS -->
	<a href="javascript:void(0)" onclick="closeNav()" id="nav-close" class="nav-toggle" title="Close Sidebar.">
		<img src="/assets/img/close_arrow.svg">
	</a>

	<a href="javascript:void(0);" class="android-pills text-white" onclick="toggleNav()">
		<i class="fa fa-bars"></i>
	</a>
	
	<!-- NAV ELEMENTS -->
	<div class="desktop">
		<div style="width: 200px;">
			<nav class="sidebar-pills" id="desktop-sidebar">
				<div class="nav nav-pills">
					<div class="nav-pill nav-link <%= root === '/projects' ? "nav-link-white" : "" %>" onclick="location.href='/projects'">
						<a href="/projects" class="nav-link <%= root === '/projects' ? "nav-link-white" : "" %>">
							<span class="">Projects</span> 
							<!-- <span class=" d-none d-sm-inline">About</span> -->
						</a>
						<i class="fas fa-laptop-code"></i>
					</div>
					<div class="nav-pill nav-link <%= root === '/blog' ? "nav-link-white" : "" %>"  onclick="location.href='/blog'">
						<a href="/blog" class="nav-link <%= root === '/blog' ? "nav-link-white" : "" %>">
							<span class="">Blog</span>
						</a>
						<i class="fas fa-comment-alt"></i>
					</div>
					<div class="nav-pill nav-link <%= root === '/about' ? "nav-link-white" : "" %>"  onclick="location.href='/about'">
						<a href="/about" class="nav-link <%= root === '/about' ? "nav-link-white" : "" %>">
							<span class="">About</span>
						</a>
						<i class="fas fa-info-circle"></i>
					</div>
					<div class="nav-pill nav-link <%= root === '/resume' ? "nav-link-white" : "" %>"  onclick="location.href='/resume'">
						<a href="/resume" class="nav-link resume-nav <%= root === '/resume' ? "nav-link-white" : "" %>" id="">
							<span class="">CV</span>
						</a>
						<i class="fas fa-portrait"></i>
					</div>
					<div class="nav-pill nav-link <%= root === '/console' ? "nav-link-white" : "" %>"  onclick="location.href='/console'">
						<a href="/console" class="nav-link <%= root === '/console' ? "nav-link-white" : "" %>" id="console-nav">
							<span class="">Console</span>
						</a>
						<i class="fas fa-terminal"></i>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<div class="mobile-nav">
		<div style="width: 100%;">
			<nav class="android-sidebar-pills" style="display: none;" id="sidebar">
				<div class="nav nav-pills">
					<div class="nav-pill nav-link <%= root === '/projects' ? "nav-link-white" : "" %>" onclick="location.href='/projects'">
						<a href="/projects" class="nav-link <%= root === '/projects' ? "nav-link-white" : "" %>">
							<span class="">Projects</span> 
						</a>
						<!-- <i class="fas fa-laptop-code"></i> -->
					</div>
					<div style="width: 10px; height: 10px; align-self: center;" class="diamond"></div>
					<div class="nav-pill nav-link <%= root === '/blog' ? "nav-link-white" : "" %>"  onclick="location.href='/blog'">
						<a href="/blog" class="nav-link <%= root === '/blog' ? "nav-link-white" : "" %>">
							<span class="">Blog</span>
						</a>
						<!-- <i class="fas fa-comment-alt"></i> -->
					</div>
					<div style="width: 10px; height: 10px; align-self: center;" class="diamond"></div>
					<div class="nav-pill nav-link <%= root === '/about' ? "nav-link-white" : "" %>"  onclick="location.href='/about'">
						<a href="/about" class="nav-link <%= root === '/about' ? "nav-link-white" : "" %>">
							<span class="">About</span>
						</a>
						<!-- <i class="fas fa-info-circle"></i> -->
					</div>
					<div style="width: 10px; height: 10px; align-self: center;" class="diamond"></div>
					<div class="nav-pill nav-link <%= root === '/resume' ? "nav-link-white" : "" %>"  onclick="location.href='/resume'">
						<a href="/resume" class="nav-link resume-nav <%= root === '/resume' ? "nav-link-white" : "" %>" id="">
							<span class="">CV</span>
						</a>
						<!-- <i class="fas fa-portrait"></i> -->
					</div>
					<div style="width: 10px; height: 10px; align-self: center;" class="diamond"></div>
					<div class="nav-pill nav-link <%= root === '/console' ? "nav-link-white" : "" %>"  onclick="location.href='/console'">
						<a href="/console" class="nav-link <%= root === '/console' ? "nav-link-white" : "" %>" id="console-nav">
							<span class="">Console</span>
						</a>
						<!-- <i class="fas fa-terminal"></i> -->
					</div>
				</div>
			</nav>
		</div>
	</div>
	
	<!-- FOOTER -->
	<div>
		<footer class="text-center text-white footer-bottom">
			<!-- Grid container -->
			<div class="container p-4 hidden-sm-down">
				<!-- Section: Text -->
				<section class="mb-4 sidebar-blurb">
					<p>
						(Barely) Social Media!<br>Find me at the links down below, or check out my CV down on the right.
					</p>
				</section>
				<!-- Section: Social media -->
				<section class="socials-container">
					<!-- Github -->
					<a class="socials mt-1" href="https://github.com/null-usr" role="button" title="GitHub">
						<div class="icon-container">
							<span><i class="fab fa-github fa-2x"></i></span>
						</div>
					</a>
					<!-- linkedin -->
					<a class="socials  mt-1" href="https://www.linkedin.com/in/n-clarke/" title="LinkedIn">
						<div class="icon-container">
							<span><i class="fab fa-linkedin fa-2x"></i></span>	
						</div>
					</a>
					<!-- CV -->
					<a class="socials mt-1" href="/resume" title="Resume">
						<div class="icon-container">
							<span><i class="fas fa-portrait fa-2x"></i></span>	
						</div>
					</a>
					</a> -->
				</section>
				<!-- Section: Social media -->
			</div>
		</footer>
	</div>
	<!-- Footer -->
</div>
