<div class="container">
    <header class="blog-header py-3">
        <div
            class="row flex-nowrap justify-content-between align-items-center"
        ></div>
    </header>

    <main class="container">
        <!-- Header -->
        <div class="row">
            <div class="col">
                <div class="text-white rounded home-hero" style="height: 100px;">
                    <h1 class="">Welcome to v1.1!</h1>
                    <hr />
                    <div class="col">
                        <p class="lead">
                            My name is Neil Clarke; I'm a Software Engineer specializing in Web and Game development! <br /><br />
                            I have a lot of interests and as I learn more, this site will change too! <br /> In the meantime, check out my <a class="text-white" href="/projects">projects</a>, my <a class="text-white" href="/blog">blog posts</a> if you're curious about what I've been up to or my skillset down below if you'd like.
                        </p>
                        <p class="lead">
                            <a
                                href="/about"
                                class="text-white fw-bold go-to-bottom mb-3"
                                >Click hear to learn more about me...</a
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div style="overflow: hidden; position: relative;" class="text-black col desktop">
                <div class="home-logo ml-0 pl-0" title="Placeholder Graphic">
                    <img style="position: absolute; display: inline;" class="main_gear gear" width="300px" src="/assets/img/simple_gear.svg">
                    <img style="position: absolute; display: inline;" class="secondary_gear gear" width="300px" src="/assets/img/simple_gear.svg">
                </div>
            </div>
        </div>

        <!-- Featured post and project-->
        <div style="display: flex; gap: 16px;">
            <div style="height: 100%; width: 50%;">
				<div style="border: 1px solid grey; border-radius: 6px;">
                    <h2 class="
                            mb-2
                            text-white
                            greyscale
                        ">
                        FEATURED POST
                    </h2>
                    <div style="padding: 8px; display: flex; gap: 8px;">
                        <div style="border: 1px solid grey; padding: 8px; display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1;">
							<div>
								<h3 class="mb-0"><%= featured_post.title %></h3>
								<hr />
								<div class="mb-1 text-muted">
									<%= featured_post.createdAt.toLocaleDateString() %>
								</div>
								<div>
									<div>
										<p class="card-text">
											<%= featured_post.summary %>
										</p>
									</div>
								</div>
							</div>
                            <!-- <div class="mb-1 text-muted">Nov 11</div> -->
							<div>
								<a
                                href="/blog/<%=featured_post.slug%> "
                                class="btn btn-outline-dark mb-2"
                                >Continue reading</a
                            >
							</div>
                        </div>
                        <div
                            style="width: 200px; height: 200px; border-radius: 6px; background-color: #292929;
                            display: grid !important;
                            justify-content: center;
                            align-content: center;"
                            class="col-auto d-none d-lg-block"
                        >
						<img style="max-height:200px; max-width:200px;" src="<%=
                        featured_post.thumb ? featured_post.thumb :
                        "/assets/img/default_blog_image.svg" %>" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 100%; width: 50%">
                <div style="border: 1px solid grey; border-radius: 6px;">
                    <h2 class="
                            mb-2
                            text-white
                            greyscale
                        ">
                        FEATURED PROJECT
                    </h2>
                    <div style="padding: 8px; display: flex; gap: 8px;">
                        <div style="border: 1px solid grey; padding: 8px; display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1;">
							<div>
								<h3 class="mb-0"><%= featured_project.name %></h3>
								<hr />
								<div>
									<div>
										<p class="card-text">
											<%= featured_project.summary %>
										</p>
									</div>
									<div>
										[ <% featured_project.tags.forEach( tag => { %>
										<span class="tag"><%= tag %></span>
										<% }); %> ]
									</div>
								</div>
							</div>
                            <!-- <div class="mb-1 text-muted">Nov 11</div> -->
							<div>
								<a
									href="/projects/<%=featured_project.slug %> "
									class="btn btn-outline-dark mb-2"
									>Continue reading</a
								>
							</div>
                        </div>
                        <div
                            style=" width: 200px;
                            height: 200px;
                            border-radius: 6px;
                            background-color: #292929;
                            display: grid !important;
                            justify-content: center;
                            align-content: center;"
                            class="col-auto d-none d-lg-block"
                        >
                            <img style="width: 100%; height: 100%; max-height:200px; max-width:200px;"
                            src="<%= featured_project.thumb ?
                            featured_project.thumb :
                            "/assets/img/default_project_image.svg" %>" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Link to projects and blog -->
        <div style="padding: 8px;" class="row">
            <div class="col-md-6 text-center">
                <p class="m-2">
                    <a href="/blog" class="btn btn-outline-dark"
                        >Other Blog Posts</a
                    >
                </p>
            </div>
            <div class="col-md-6 text-center">
                <p class="m-2">
                    <a href="/projects" class="btn btn-outline-dark"
                        >Other Projects</a
                    >
                </p>
            </div>
        </div>
        <!-- Skills pane -->
        <div class="row mb-4">
            <div class="rounded-white px-md-3 pb-md-5 pt-md-3">
                <!-- Title section -->
                <div class="text-center">
                    <h1 class="fst-italic">Arsenal</h1>
                    <p>
                        Suite of some of the programming languages, tools and
                        software that I've encountered while working on my hobby
                        projects and throughout my professional career.
                    </p>
                </div>
                <hr />
                <div class="skill-container text-white">
                    <div class="skill-box rounded-black p-3">
                        <div class="skill-header">
                            <span class="lavender pt-2">
                                <div class="diamond"></div>
                            </span>
                            <h3>Languages</h3>
                            <span class="lavender pt-2">
                                <div class="diamond"></div>
                            </span>
                        </div>

                        <div class="text-center">
                            <img
                                width="100px"
                                src="/assets/img/code.svg"
                                alt=""
                            />
                        </div>

                        <div class="text-center border p-3">
                            <span class="tag lead">C++</span>,
                            <span class="tag lead">Lua</span>,
                            <span class="tag lead">TypeScript</span>,
                            <span class="tag lead">HTML</span>,
                            <span class="tag lead">CSS</span>
                        </div>
                    </div>
                    <div class="skill-box rounded-black p-3">
                        <div class="skill-header">
                            <span class="lavender pt-2">
                                <div class="diamond"></div>
                            </span>
                            <h3>Frameworks/Engines</h3>
                            <span class="lavender pt-2">
                                <div class="diamond"></div>
                            </span>
                        </div>

                        <div class="text-center">
                            <img
                                width="100px"
                                src="/assets/img/cogs.svg"
                                alt=""
                            />
                        </div>

                        <div class="text-center border p-3">
                            <span class="tag lead">Node.js</span>,
                            <span class="tag lead">Godot</span>,
                            <span class="tag lead">React</span>,
                            <span class="tag lead">Angular</span>,
                            <span class="tag lead">OpenCV</span>
                        </div>
                    </div>
                    <div class="skill-box rounded-black p-3">
                        <div class="skill-header">
                            <span class="lavender pt-2">
                                <div class="diamond"></div>
                            </span>
                            <h3>Tools & Tech</h3>
                            <span class="lavender pt-2">
                                <div class="diamond"></div>
                            </span>
                        </div>

                        <div class="text-center">
                            <img
                                width="75px"
                                src="/assets/img/wrench.svg"
                                alt=""
                            />
                        </div>

                        <div class="text-center border p-3">
                            <span class="tag lead">Bash</span>,
                            <span class="tag lead">PostgreSQL</span>,
                            <span class="tag lead">Arduino</span>,
                            <span class="tag lead">CSP</span>,
                            <span class="tag lead">Affinity Designer</span>,
                            <span class="tag lead">Blender</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        let tl = gsap.timeline();
        tl.set(
            ".gear",
            {
                transformOrigin: 'center'
            }
        ).set(
            ".main_gear",
            {
                x: "-50%",
                y: "-15%",
            }
        ).set(
            ".secondary_gear",
            {
                x: "10%",
                y: "40%",
                rotation: 10
                // scale: 0.8
            }
        ).to(
            ".main_gear",
            {
                rotation: "360",
                duration: 10,
                ease: "none",
                repeat: -1
            }
        ).to(
            ".secondary_gear",
            {
                rotation: "-=360",
                duration: 10,
                ease: "none",
                repeat: -1
            },
            "<"
        )
    </script>
</div>
