<div class="project-thumb">
	<div class="project-thumb-inner">
		<div class="project-thumb-front p-4">
			<!-- <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;"> -->
			<h4 class="project-thumb-title"><%= project.name %></h4>
			<div class="divider-custom divider-light">
				<div class="divider-custom-line"></div>
				<!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div> -->
				<span style="color:white;">
					<div class="diamond"></div>
				</span>
				<div class="divider-custom-line"></div>
			</div>
			<div class=project-thumb-image>
				<img width="100%" src="<%= project.thumb ? project.thumb : "/assets/img/default_project_image.svg" %>" alt=""/>
			</div>
		</div>
		<div class="project-thumb-back p-4">
			<h4 class="project-thumb-title"><%= project.name %></h4>
			<div class="divider-custom divider-dark">
				<div class="divider-custom-line"></div>
				<!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div> -->
				<span style="color:black;">
					<div class="diamond"></div>
				</span>
				<div class="divider-custom-line"></div>
			</div>
			<div class="project-thumb-body">
				<img src="<% project.thumbnail %>" alt="">
				<p><%= project.summary %></p>

				<div>
					[
					<% project.tags.forEach( tag => { %> 
						<span class="tag"><%= tag %></span>
					<% }); %> 
					]
				</div>
				<br>
			</div>
			
			<div class="button-center"></div>
			<div>
				<a href="/projects/<%= project.slug %>" class="btn btn-outline-dark">Read More</a>
			</div>
		</div>
	</div>
</div>